<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Página 2</title>
</head>
<body>
    <section class="container">
        <h1>Pagina 2</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat commodi adipisci quia ea laudantium veritatis repellendus rem consequatur aperiam non, explicabo eveniet, provident dolore dolores eum! Quisquam distinctio totam amet!</p>
    </section>
</body>
</html>